<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Bienvenido
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="home-content">
    <ion-card-header>
      <ion-card-title>Retail Off</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <img src="/assets/retail.jpg" class="image" />
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button expand="full" routerLink="/login">iniciar sesión</ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button color="secondary" expand="full" routerLink="/sign-in">registrarse</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>